/* header */
.blog-header-logo:hover {
    text-decoration: none;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.navbar-left {
    width: 33.333%;
}

.navbar-center {
    width: 33.333%;
}

.navbar-right {
    width: 33.333%;
}

.nav-item.nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.ag-item {
    width: 144px;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
    .h-md-250 { height: 250px; }
}

.main-area {
    min-height: 100%;
    padding-bottom: 5rem;
}

.jumbotron {
    height:400px; 
}

.jumbotron-image {
    padding: 1rem 1rem;
    margin-bottom: 5rem;
    background-image: url(../assets/imgs/main_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .3rem
}

.orignal-price {
    display: inline;
    text-decoration:line-through;
}

.activity-price {
    display: inline;
}

.ag-image {
    background-position: 50%;
    background-size: cover;
    overflow: hidden;
    position: relative;
    width:80%;
    height:500px;
}

@media (max-width: 767.98px) {
    .ag-image {
        background-position: 50%;
        background-size: cover;
        overflow: hidden;
        position: relative;
        width:100%;
        height:500px;
    }
}


/*
 * subscribe
 */

.home-newsletter {
    padding: 40px 0;
    border-color: #5f6456;
    }
    
    .home-newsletter .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
    .home-newsletter .single h2 {
    font-size: 22px;
    color: #5f6456;
    text-transform: uppercase;
    margin-bottom: 30px; }
    .home-newsletter .single .form-control {
    height: 40px;
    background: rgba(255, 255, 255, 0.6);
    border-color: #5f6456;
    border-radius: 10px 0 0 10px; }
    .home-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: #5f6456; }
    .home-newsletter .single .btn {
    min-height: 40px; 
    border-radius: 0 10px 10px 0;
    background:#5f6456;
    color: #fff;
    }

/*
 * Footer
 */
.my-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 1.5rem;
    padding: 2.5rem 0;
    height: 150px;
    color: #4b4e3b;
    text-align: center;
    background-color: #f9f9f9;
}

.my-footer p:last-child {
    margin-bottom: 0;
}

.form-signIn {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signIn .checkbox {
    font-weight: 400;
}

.form-signIn .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signIn .form-control:focus {
    z-index: 2;
}

.form-signIn input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signIn input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.sidebar .nav-link:hover {
    color: inherit;
}

.sidebar-heading {
font-size: .75rem;
text-transform: uppercase;
}
/*
   * Navbar
   */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.productImage, .productInfo {
    height: 530px;
}

@media screen and (max-width: 768px) {
    .productInfo {
        height: 430px;
    }
}

.productTitle, .productPrice {
    min-height: 30px;
}

.productContent {
    height: 300px;
}

@media screen and (max-width: 768px) {
    .productContent {
        height: 150px;
    }
}

.badge.custom-badge {
    border-radius: 0.5rem;
    position: relative;
    left: -8px;
    top: -12px;
    background-color: #c33d61;
    color: #f9f9f9;
}

/* Remove Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

.numbox .numbox-input.form-control {
    width: 50px;
    border-radius: 8px;
}

.cartTable {
    border: 1px solid #eeeee4ec;
    border-radius: 5px 5px 0px 0px
}

.cartTable .col-header {
    height: 80px;
}

.cartTable .col-content {
    height: 60px;
}

.sumTable {
    background-color: #eeeee4ec
}

@media screen and (max-width: 768px) {
    .sumTable {
        background-color: #eeeee4ec;
        width: 100%;
    }
}


.orderInfo .col-header {
    height:40px
}

.orderInfo .col-content {
    height:50px
}

/* progressBar */
.progressBar {
    min-height: 80px;
}
.progressBarList {
    margin-left: -40px;
    counter-reset: step;
}

.progressBarList li {
    margin-left: 0px;
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 14px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #BDC0BA;
}



.progressBarList li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #BDC0BA;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressBarList li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #BDC0BA;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressBarList li:first-child:after {
    content: none;
}
.progressBarList li.active {
    color: #737157;
}

.progressBarList li.progressEnd {
    color: #20604F;
}


.progressBarList li.active:before {
    border-color: #737157;
}
.progressBarList li.active + li:after {
    background-color: #737157;
}

.progressBarList li.progressEnd:before {
    border-color: #20604F;
}
.progressBarList li.progressEnd + li:after {
    background-color: #20604F;
}

.noContentBox {
    min-height: 150px;
}

.card-img-top {
    background-position: 50%;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

/* image hover effect */
.imagetoHover {
    opacity: 1;
    display: block;
    width: 100%;
    height: 275px;
    transition: .5s ease;
    backface-visibility: hidden;
}
@media screen and (max-width: 900px) {
    .imagetoHover {
        opacity: 1;
        display: block;
        width: 100%;
        height: 325px;
        transition: .5s ease;
        backface-visibility: hidden;
    }
}
@media screen and (max-width: 768px) {
    .imagetoHover {
        opacity: 1;
        display: block;
        width: 100%;
        height: 400px;
        transition: .5s ease;
        backface-visibility: hidden;
    }
}

.imagetoHover-sm {
    opacity: 1;
    display: block;
    width: 100%;
    height: 230px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middleButton {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
}

.card:hover .imagetoHover, .card:hover .imagetoHover-sm {
    opacity: 0.3;
}

.card:hover .middleButton {
    opacity: 1;
    
}

.hoverText {
    background-color: #a6a7a4;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    padding: 6px 12px;
}

.productDescription .form-group {
    min-height: 80px;
}

.centralPicture .aboutUsImg {
    background-image: url(imgs/aboutUsImg.jpg);
    max-width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutUsInfo {
    top: 650px;
    min-height: 400px;
}

.contactUsContent {
    list-style: none;
    padding-left: 0;
}

.centralPicture .text-wrap {
    border: solid 0.1rem #b9bbb4;
    border-radius: 8px;
    padding: 2rem 2rem;
    color: #383417;
}

.typeSideBar .list-group-item {
    border-radius: 0;
    border: none;
    border-bottom: 0.3px solid #9da094 ;
}

.typeSideBar .list-group-item a {
    color: #616646;
}


.card-ag {
    border: none;
}

.card-img {
    text-align: center;
    flex-shrink: 0;
    margin-bottom: 30px;
}

.text-instructions {
    color:#646c73
}

.btn-denied {
    cursor: not-allowed;
}
